extends components/app.pug

block styles 
    //link(rel="stylesheet" href="../css/home.css")
block content
    div(class="container")
        div(class="row h-100 justify-content-center align-items-center")
            div(class="col-md-5 search-wrapper")
                p #{errorText}