extends components/app.pug

block styles 
    //link(rel="stylesheet" href="../css/home.css")
block content
    div(class="container")
        div(class="row h-100 justify-content-center align-items-center")
            div(class="col-md-5 search-wrapper")
                h1 My Masteries
                form(method="GET" action="/search_summoner")
                    input(type="text" name="summoner_name" placeholder="Search summoner" required="required")
                    select(name="region")
                        option(value="BR1") BR
                        option(value="EUN1") EUNE
                        option(value="EUW1") EUNW
                        option(value="JP1") JP
                        option(value="KR") KR
                        option(value="LA1") LAN
                        option(value="LA2") LAS
                        option(value="NA1") NA
                        option(value="OC1") OCE
                        option(value="TR1") TR
                        option(value="RU") RU
                    input(type="submit" value="Search")