div(class="masteries-champions-wrapper")
    div(class="col-md-1")
    div(class="col-md-10 masteries-description p-0") 
        p(class="title") #{summoner.name} 
        div(class="row")
            div(class="col-md-10") 
                p
                    LUL
                p(class="quote") champions
    div(class="col-md-1")