div(class="row masteries-description-wrapper")
    div(class="col-md-1")
    div(class="col-md-10 masteries-description p-0") 
        p(class="title") Foobar the SOMETHING 
        div(class="row")
            div(class="col-md-10") 
                p
                    | Mauris auctor dolor nunc, eu sodales nisi auctor a. Curabitur ante diam, viverra vitae justo id, feugiat rutrum dui. Fusce dapibus sapien vel tellus faucibus, eget dignissim nisl pharetra. 
                    | Suspendisse egestas felis in iaculis rutrum. Praesent in tortor a dolor auctor volutpat at id magna. Vivamus ullamcorper turpis nec tempus porttitor. Sed vitae felis et ante eleifend tempus. Mauris vulputate magna tortor. Etiam ultricies eros at nunc facilisis, ac aliquet nisi euismod. Nullam facilisis ultricies magna. Nullam efficitur lacus vel elit imperdiet pharetra. Aliquam rutrum, ipsum rutrum semper scelerisque, mauris libero varius erat, ut commodo nibh sapien eu eros. Maecenas sed sapien a est tincidunt consequat.
                    | Mauris facilisis, felis ac viverra commodo, urna tortor cursus ipsum, non hendrerit velit ante nec quam. Praesent maximus iaculis est et accumsan. Morbi tristique leo a elit tincidunt aliquet. Aenean id lacus eu magna consectetur fermentum sit amet vitae lacus. Praesent 
                p(class="quote") foomanchu - John Doe
    div(class="col-md-1")
    +MasteriesWheel(summoner)