@import "variables";

.container {
    max-width: inherit;

    .search-wrapper {
        margin: 0 auto;

        .summoner-name, .region {
            height: 2em;
        }

        .submit {
            height: 2.18em;
        }
    }
}
